.spacer{
    padding-bottom:10px;
}

body {
	font-family:helvetica;
	background-color:black;
}

h1, h2, p, h3 {
    color:white;
}

label {
    color:white;
}

.panel {
    background-color:white;
	margin-bottom:20px;
	border: 1px solid white;
}
.panel-heading .panel-header {
    background-color:#1C4859;
    color:white;
	font-weight:bold;
}

.panel-body {
    background-color:#A1DBF1;
}

.panel-body p {
	color:black;
	margin:0px;
}